{% set error = error ?? '' %}
{% set full = full ?? true %}

{% if not hook.errors %}

  <div class="flx flx-center hook-row">
    <div class="flx-grow hook-body">

      {% if hook.site %}
        <h2 class="hook-site">
          {{ hook.site }} 
          {% if full %}<a class="hook-site-view" href="{{ hook.site.baseUrl }}" data-icon="world"></a>{% endif %}
        </h2>
      {% endif %}

      {% if full %}
        {% if hook.title %}
          <h2 class="hook-title">{{ hook.title }}</h2>
        {% endif %}

        {% if currentUser.admin %}
          <div class="hook-action {{ hook.action }} {{ hook.action != 'netlify' ? 'hook-simple code' }}">{{ hook.action }}</div>
          <span class="code">{{ hook.url }}</span>
        {% endif %}
      
        {% if hook.trigger.dateUpdated %}
          <div class="hook-run-log">Run: {{ hook.trigger.dateUpdated | date("F jS - G:i") }}</div>
        {% endif %}

        {% if hook.status %}
          <div class="captain-status-contain">
            <img id="js-captain-status-{{ hook.id }}" src="{{ hook.status }}" alt="{{ hook.title ?? 'Site' }} Status" />

            <button class="btn captain-refresh js-captain-refresh" data-id="{{ hook.id }}">
              <span>&#8635;</span>
            </button>
          </div>
        {% endif %}
      {% endif %}
    </div>

    <form method="post" accept-charset="UTF-8" class="hook-form flx-noshrink">
      <input type="hidden" name="action" value="captain/build/one">
      <input type="hidden" name="hookId" value="{{ hook.id }}">
      {{ csrfInput() }}

      {% if hook.changeCount and full %}
        <span class="hook-count">{{ hook.changeCount }}</span>
      {% endif %}
      <button type="submit" value="Rebuild" class="btn {{ hook.changeCount ? 'submit' }}">
        {% if hook.action == 'netlify' %}
          Rebuild
        {% else %}
          Trigger
        {% endif %}
      </button>
    </form>
  </div>

  {% if error %}
    <div class="field">
      <div class="warning"> {{ error.message }}</div>
    </div>
  {% endif %}  

{% else %}
  {% for errors in hook.errors %}
    {% include "_includes/forms/errorList" with { errors: errors } %}
  {% endfor %}
{% endif %}
