{% do view.registerAssetBundle("crystal\\captain\\Bundle") %}

<div class="captain-modal">

  <div class="modal-title hook-row flx flx-center">
    <h1 class="flx-grow">Rebuild</h1>
    <a href="{{ url('captain') }}" class="btn"> <div class="icon info"></div> Info</a>
  </div>

  {% for hook in hooks if hook.changeCount %}
    {% include "captain/_hook" with { hook: hook, full: false } %}
  {% endfor %}
</div>
