{% extends "_layouts/cp" %}

{% do view.registerAssetBundle("crystal\\captain\\Bundle") %}

{% set title = 'Rebuild' %}
{% set settings = craft.captain.settings %}
{% set hooks = craft.captain.hooks %}

{% set siteIs = hooks|length > 1 ? 'sites are': 'site is' %}

{% set content %}
<div class="captain-index">
  {% if not currentUser.admin %}
    <div class="intro">
      <h2>Info</h2>
      <p>Your {{siteIs}} built statically, this improves loading speed for your users and makes 
      your conent easier for search engines to read. Because of this, when you make changes to the 
      content, you need to trigger a rebuild.</p>
      <p>Once started a build can take a minute or two so the site will not change instantly. If you 
      are making multiple changes to the content it is better to rebuild after making all changes.</p>
    </div>
    <hr>
  {% endif %}
  {% for hook in hooks %}
    <div class="flx">
      <h1 class="hook-no">{{ loop.index }} &nbsp;</h1>
      
      <div class="flx-grow">
        {% include "captain/_hook" with { hook: hook, error: errors[loop.index0] ?? '' } %}
      </div>
    </div>
  
    <hr>
  {% else %}
    <h2>No things</h2>
    <hr>
  {% endfor %}

  {% if currentUser.admin %}
    <a href="settings/plugins/captain" class="btn icon settings"> Settings</a>
  {% endif %}
</div>
{% endset %}
