{% import "_includes/forms" as forms %} 

{% do view.registerAssetBundle("crystal\\captain\\Bundle") %}

{% set sites = craft.app.sites.getAllSites() | map(site => { label: site.name, value: site.id })   %}
{% set sites = [{ label: '-', value: null }] | merge(sites)   %}

{% set actions = [
  { optgroup: 'Service' },
  { label: 'Netlify', value: 'netlify' },
  { optgroup: 'Method' },
  { label: 'GET', value: 'GET' },
  { label: 'POST', value: 'POST' },
  { label: 'PATCH', value: 'PATCH' },
  { label: 'PUT', value: 'PUT' },
  { label: 'DELETE', value: 'DELETE' },
] %}

<div class="captain-settings">
  {{ forms.editableTableField({
    id: 'hooks',
    name: 'hooks', 
    label: 'Hooks', 
    addRowLabel: 'Add hook',
    instructions: 'Tell me all about your hooks',
    defaultValues: { enabled: true },
    static: 'hooks' in overrides,
    errors: settings.errors('hooks'),
    warning: 'hooks' in overrides ? " Currently overridden by config file",
    rows: settings.hooks,
    cols: {
      siteId:  { type: 'select',      heading: 'Site',   class: 'thin', options: sites },
      title:   { type: 'singleline',  heading: 'Title', width: '160' }, 
      url:     { type: 'singleline',  heading: 'URL' }, 
      status:  { type: 'singleline',  heading: 'Status Badge', width: '230' }, 
      action:  { type: 'select',      heading: 'Action', class: 'thin', options: actions },
      id:      { type: 'number',      class: 'hidden' },
    },
  }) }}
</div>

    {# enabled: { type: 'lightswitch', heading: 'Enabled', class: 'thin', value: '1' }, #}
    {# {type: 'code', heading: 'Body'} #}
