@mixin at-least($device-width) {
  @media screen and (min-width: $device-width) {
    @content;
  }
}

@mixin until($device-width) {
  @media screen and (max-width: $device-width - 0.2px) {
    @content;
  }
}

.flx {
  display: flex;
}
.flx-grow {
  flex-grow: 1;
}
.flx-center {
  align-items: center;
}
.flx-noshrink {
  flex-shrink: 0;
}

.intro {
  max-width: 800px;
}

.hook-no {
  margin-bottom: 0;
  margin-right: 7px;
}

.captain-index {
  .hook-body {
    min-height: 32px;
  }
}

.hook-site-view {
  font-size: 0.8em;
  line-height: 1;
  margin-left: 0.3em;
  display: inline-block;
  transform: translateY(-2px);
}

.hook-site + .hook-title {
  margin-top: -0.5em;
  margin-bottom: 0.5em;
  color: grey;
  font-size: 1em;
  font-weight: normal;
  font-style: italic;
}

.hook-count {
  background-color: #b8b8b8;
  color: white;
  padding: 0 6px;
  font-size: 14px;
  line-height: 20px;
  border-radius: 20px;
  vertical-align: middle;
  margin-right: 10px;
  transform: translateY(-1px);
  display: inline-block;
  min-width: 15px;
  text-align: center;
}

.hook-action {
  display: inline-block;
  min-width: 60px;
  margin-right: 10px;
  padding: 4px;
  vertical-align: middle;
  border-radius: 3px;
  text-align: center;
  line-height: 1;
  color: white;
}

.hook-simple {
  font-size: 1em !important;
  letter-spacing: 0.04em;
}

.hook-form {
  margin-left: 20px;
}

.hook-run-log {
  color: #b8b8b8;
  text-transform: uppercase;
  font-size: 0.8em;
  letter-spacing: 0.1em;
  font-weight: bold;
  margin-top: 1.5em;
  line-height: 1;
}

.hook-action {
  &.netlify {
    background-color: #00ad9f;
  }
  &.GET {
    background-color: #7d69cc;
  }
  &.POST {
    background-color: #59a211;
  }
  &.PUT {
    background-color: #d07404;
  }
  &.PATCH {
    background-color: #ae9604;
  }
  &.DELETE {
    background-color: #d04443;
  }
}

nav#nav {
  margin-bottom: 200px !important;
}

.captain-modal {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1000;
  background-color: #273039;
  width: 225px;
  color: white;

  @include until(1223px) {
    transition: transform 250ms ease-in-out;
    transform: translateX(-100%);

    .showing-nav & {
      transform: translateX(0);
    }
  }

  .hook-row {
    padding: 10px 18px;
    box-shadow: inset 0 0 0 1px #1f262e;
  }

  h1 {
    margin-bottom: 0;
    font-size: 1.3em;
  }
  h2 {
    font-size: 13px;
    font-weight: normal;
  }

  .btn {
    background-color: transparent;
    background-image: none;
    border: 1px solid rgba(gray, 0.5);
    color: white;

    &:hover {
      background-image: none;
      background-color: rgba(grey, 0.5);
    }
  }
}

.captain-status-contain {
  margin-top: 20px;
  align-items: center;
  display: flex;
}

.captain-refresh {
  height: 20px;
  width: 20px;
  padding: 0;
  margin-left: 5px;
  font-size: 14px;
  font-weight: bold;

  &:focus span {
    display: inline-block;
    animation: spin 0.5s linear;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.icon.info {
  pointer-events: none;
}

.captain-settings {
  .textual textarea {
    white-space: nowrap;
    overflow: auto;
  }
}
